.sidebar{
    position: relative;
    height: 83vh;
    width: 16vw;
    margin: auto 2vw;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo{
        height: 10vh;
        width: 9vw;
        position: absolute;
        // background-color: blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2vh auto;
        

        img{
            height: 8vh;
            width: 8vw;
            position: absolute;
            object-fit: cover;
        }
    }

    .item{
        
        height: 58vh;
        width: 13vw;
        position: absolute;
        margin-top: 14vh;
        display: flex;
        flex-direction: column;
        // background-color: yellow;
        align-items: center;
        justify-content: center;

        div{
            height: 5vh;
            width:13vw ;
            // background-color: pink;
            display: block; 
            border-radius: 7px;
            font-size: 15px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content:stretch;
            overflow: hidden;

            .icon{         
                font-size: 25px;
                margin: auto 1.2vw;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }
            
            &:hover{
                background-color: orangered;
                transition: all 0.1s ease-in;
                color: white;
            }
        }

    }
}
